<!DOCTYPE html>
<html lang="pt-br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOrbit Denucia</title>
    <link rel="icon" href="{{ url_for('static', filename='icon/icon_1.ico') }}" type="image/ico">

    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <meta name="twitter:description" content="DevOrbit denucia">
    <meta name="twitter:title" content="DevOrbit - Comunidade">
    <meta name="twitter:description" content="Conecte-se com desenvolvedores e compartilhe ideias na DevOrbit.">

</head>
<body class="flex items-center justify-center h-screen bg-gray-800">


 <aside id="cta-button-sidebar" class="topnav fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar" onclick="mybar()">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800"onclick="mybar()" >
     
     <ul class="space-y-2 font-medium">
       <li>
        <div class="flex items-center space-x-4 p-2 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg">
            <!-- Foto do usuário -->
            {% if photo_user_profile %}
            <img class="w-12 h-12 rounded-full border-4 border-gray-300 shadow-lg" 
                 src="{{ url_for('static', filename=photo_user_profile) }}" 
                 alt="Profile picture">
            {% else %}
            <img class="w-12 h-12 rounded-full border-4 border-gray-300 shadow-lg" 
                 src="{{ url_for('static', filename='icon/default.svg') }}" 
                 alt="Default profile picture">
            {% endif %}
            
            <!-- Nome do usuário -->
            <a href="{{ url_for('home.home_page', usuario=id) }}" 
               class="text-blue-400 dark:text-white hover:underline"
               data-url="{{ url_for('perfil.profile_page', usuario=id) }}"
               onclick="showLoading()">
                {{ username }}
            </a>
        </div>
    </li>
          
    
           <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                 <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
              </svg>
              <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Desafios do Mês</span>
              <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Beta</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                 <path d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"/>
              </svg> 
              <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Mensagens</span>
              
              <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">532</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                 <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
              </svg>
              <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Criadores</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                 <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
              </svg>
              <span class="link-cumunidade  flex-1 ms-3 whitespace-nowrap text-gray-900">Galeria de Ideias</span>
           </a>
        </li>
        
        
          <a href="{{ url_for('logout.logout') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
             <i class="fas fa-sign-out-alt flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
             <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Logout</span>
         </a>

        <li>
        
        <a href="{{ url_for('config.config_account', usuario=usuario) }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
           <i class="fas fa-cogs flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
           <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Configuração</span>
       </a>
     </ul>

     <div id="dropdown-cta" class="p-4 mt-6 rounded-lg bg-blue-50 dark:bg-blue-900" role="alert">
        <div class="flex items-center mb-3">
           <span class="bg-orange-100 text-orange-800 text-sm font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-orange-200 dark:text-orange-900">Beta</span>
          
        </div>
        <p class="mb-3 text-sm text-blue-800 dark:text-blue-400">
          Bem-vindo à versão beta do nosso site! Explore, participe e ajude-nos a melhorar essa comunidade criativa. Participe da nossa comunidade no Discord!
        </p>
        <a class="text-sm text-blue-800 underline font-medium hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300" href="https://discord.com/channels/1295856332376899720/1295856333316292631">Discord</a>
     </div>
  </div>
</aside>


  <div class="logo flex justify-center p-2 items-center " >
    <hr class="flex-1 border-t-2 border-gray-500 mx-4">
    <h1 class="text-gray-100 text-center text-2xl">Dev Orbit</h1>
    <hr class="flex-1 border-t-2 border-gray-500 mx-4">
    
   </div>

    <form id="post-form" method="POST" enctype="multipart/form-data">
        <div class="mb-4 align-items:center">

            <!-- <h1 class="community-dev-orbit text-center text-gray-900 uppercase font-sans md:font-serif">DevOrbit</h1> -->

            <label for="opcao-denucia" class="block  font-semibold mb-2 text-gray-100">Descreva sua denúncia sobre este post</label>
            <input type="text" id="post-titulo" name="post-titulo" placeholder="Digite sua descrição aqui..." class="block  border border-gray-300 p-2 rounded w-full" />

            <label class="opcao-denucia text-gray-100 font-semibold mb-2 m-5 text-center">Razão</label>
            <select id="denuncia" class="m-4">
                <optgroup label="Discurso de ódio">
                  <option value="discurso_odio">Discurso de ódio</option>
                  <option value="assedio_bullying">Assédio e bullying</option>
                </optgroup>
                <optgroup label="Conteúdo Impróprio">
                  <option value="conteudo_explicito">Conteúdo explícito ou impróprio</option>
                  <option value="informacoes_pessoais">Compartilhamento de informações pessoais</option>
                </optgroup>
                <optgroup label="Comportamento Indevido">
                  <option value="spam">Spam ou anúncios não solicitados</option>
                  <option value="impersonificacao">Imitação de outro usuário (impersonificação)</option>
                  <option value="comportamento_toxico">Comportamento tóxico ou agressivo</option>
                </optgroup>
                <optgroup label="Outros">
                  <option value="violacao_propriedade_intelectual">Violação de propriedade intelectual (ex.: plágio)</option>
                  <option value="conteudo_discriminatorio">Conteúdo discriminatório (racismo, sexismo, etc.)</option>
                  <option value="fraude_engano">Fraude ou engano (ex.: golpes, promessas falsas)</option>
                </optgroup>
              </select>
              


        </div>
    
        <button type="submit" class="w-full bg-blue-600 text-gray-100 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 font-sans md:font-serif">
            Finalizar
        </button>
    </form>
    
<!-- Devo arrumar depois -->

<style>
    /* Estilo padrão para o body */
    
   
   
    post-denucia{
        color: black;
    }
    user-opcao-denucia{
        color: black;
    }
    community-post{
        color:black;
    }
    block{
        color: black;
    }

    .logo{
      font-family: "Lobster", sans-serif;
      font-weight: 400;
      font-style: normal;
      position: absolute;
      top: 10%;
    }
    /* Media query para dispositivos móveis */
    @media (max-width: 768px) {
      body {
        background-color: #121212; /* Fundo escuro */
        color: white; /* Texto claro */
      }
      community-dev-orbit {
        color: black; /* Título branco */
      }
      .post-denucia {
        color: white; 
      }
      .data{
        color: white;
      }
      .opcao-denucia{
        color: white;
      }
      .community-dev-orbit{
        color: white;
      }
      .post-cumunity-denucia{
        color: #B3D9FF;
      }
      .block{
        color: black;
      }
    }
  </style>


<!-- Cria um js apenas para essa tela -->
<script src="{{url_for('static', filename='js/menu.js')}}"></script>
</body>
</html>
