<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.0/dist/tailwind.min.css" rel="stylesheet">
    
    <title>DevOrbit</title>
</head>
<body >

    <button data-drawer-target="cta-button-sidebar" data-drawer-toggle="cta-button-sidebar" aria-controls="cta-button-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-800 dark:text-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" onclick="mybar()">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
        </svg>
     </button>

 <aside id="cta-button-sidebar" class="topnav fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar" onclick="mybar()">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800"onclick="mybar()" >
        <button
    class="flex close-sidebar-btn  ml-4 p-1"
    onclick="mybar()">
    &times; <!-- Ícone de fechar -->
  </button>
       <ul class="space-y-2 font-medium">
        <li>
          <a href="{{ url_for('home.home_page', usuario=username) }}" 
             class="flex items-center p-2 text-blue-400 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
             data-url="{{ url_for('perfil.profile_page', usuario=username) }}"
             onclick="showLoading()">
              <i class="fas fa-user w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-100 group-hover:text-gray-900 dark:group-hover:text-white"></i>
              <span class="ms-3">{{ username }}</span>
          </a>
      </li>
      
      <!-- Overlay de Carregamento -->
       <!-- Overlay de Carregamento -->
       <div class="mt-7" id="loadingOverlay" style="display: none;">
        <div class="flex justify-center items-center">
            <img src="{{ url_for('static', filename='icon/nave.svg') }}" alt="Carregando..." class="w-20 h-20 flying-animation" />
        </div>
    </div>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                   <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                </svg>
                <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Desafios do Mês</span>
                <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Beta</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                   <path d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"/>
                </svg> 
                <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Mensagens</span>
                <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">0</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                   <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                </svg>
                <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Criadores</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                   <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
                </svg>
                <span class="link-cumunidade  flex-1 ms-3 whitespace-nowrap text-gray-900">Galeria de Ideias</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
                </svg>
                <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Entra</span>
             </a>
          </li>
          
            <a href="{{ url_for('logout.logout') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="fas fa-sign-out-alt flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
               <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Logout</span>
           </a>
           
           <li>
          
            <a href="{{ url_for('config.config_account', usuario=usuario) }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="fas fa-cogs flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
               <span class="link-cumunidade flex-1 ms-3 whitespace-nowrap text-gray-900">Configuração</span>
           </a>
         </ul>
       <div id="dropdown-cta" class="p-4 mt-6 rounded-lg bg-blue-50 dark:bg-blue-900" role="alert">
          <div class="flex items-center mb-3">
             <span class="bg-orange-100 text-orange-800 text-sm font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-orange-200 dark:text-orange-900">Beta</span>
            
          </div>
          <p class="mb-3 text-sm text-blue-800 dark:text-blue-400">
            Bem-vindo à versão beta do nosso site! Explore, participe e ajude-nos a melhorar essa comunidade criativa. Participe da nossa comunidade no Discord!
          </p>
          <a class="text-sm text-blue-800 underline font-medium hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300" href="https://discord.com/channels/1295856332376899720/1295856333316292631">Discord</a>
       </div>
    </div>
 </aside>

        <div class="max-w-lg mx-auto my-10 bg-white rounded-lg shadow-md p-5">
          <img class="w-32 h-32 rounded-full mx-auto" 
          {% if user_photo %}
          src="{{ url_for('static', filename=user_photo) }}" 
          data-image-url="{{ url_for('static', filename=user_photo) }}" 
          onclick="handleImageClick(this)">
          {% else %}
          <img class="w-32 h-32 rounded-full mx-auto" 
          src="{{url_for('static', filename='icon/default.svg')}}"  
               alt="Default profile picture">
          {% endif %}

          <h2 class="user-name text-center text-2xl font-semibold mt-3 text-gray-100">{{usuario}}</h2>

          <p class="text-center text-gray-100 mt-1">Software Engineer</p>
          <div class="flex justify-center mt-5">
            <a href="#" class="text-blue-500 hover:text-blue-700 mx-3">Twitter</a>
            <a href="#" class="text-blue-500 hover:text-blue-700 mx-3">LinkedIn</a>
            <a href="#" class="text-blue-500 hover:text-blue-700 mx-3">GitHub</a>
          </div>
          <div class="mt-5">
            <h3 class="text-xl font-semibold">Bio</h3>
            {%if bio%}
            <p class="bio-user text-gray-100 mt-2">{{bio}}</p>
            {%else%}
            <p class="bio-user text-gray-100 mt-2"> ... </p>
            {%endif%}
          </div>
          
         </div>
         


         
<div class="flex flex-wrap justify-end m-2 space-x-4 bg-white shadow-lg rounded-lg overflow-hidden mx-auto max-w-screen-xl align-items:center min-h-screen">
  {% for post in posts %}
    <div class="bg-white shadow-lg rounded-lg w-80 overflow-hidden p-4 m-4 align-items:center dark:bg-gray-800 items-center transition-all transform duration-300 ease-in-out 
         opacity-0 animate-fadeInUp hover:scale-105 hover:shadow-2xl hover:border-gray-300">
        <!-- Cabeçalho do Post -->
        <div class="flex items-center p-4  border-gray-200 justify-center m-2  ">
          {% if post.user_photo %}
          <img class="w-32 h-32 rounded-full mx-auto border-4  border-gray-300  shadow-lg" 
               src="{{ url_for('static', filename=post.user_photo) }}" 
               onclick="handleImageClick(this)"
               alt="Profile picture">
          {% else %}
          <img class="w-24 h-24 rounded-full mx-auto border-4 border-white shadow-lg" 
               src="{{ url_for('static', filename='icon/default.svg') }}" 
               alt="Default profile picture">
          {% endif %}
          <div class="ml-3 text-center">
            <a href="{{ url_for('perfil.profile_page', usuario=post.nome) }}">
              <h3 class="user-name text-sm font-semibold text-gray-100">{{ post.nome }}</h3>
            </a>
            <span class="data text-xs text-gray-100">{{ post.data }}</span>
          </div>
        </div>

        <!-- Conteúdo do Post -->
        <div class="m-3 flex justify-center">
          <span class="text-blue-400 text-sm uppercase whitespace-pre-line text-center">{{ post.titulo }}</span>
        </div>

        <div class="p-4 max-w-full justify-center flex-wrap rounded-lg items-center">
          {% if post.img_url %}
          <img 
            src="https://api-devorbirt.onrender.com/files/{{ post.img_url.split('/')[-1] }}" 
            alt="Post Image"
            onclick="handleImageClick(this)" 
            loading="lazy">
          {% endif %}
        </div>

        <div class="ml-3">
          <p class="community-pos text-gray-100 text-sm whitespace-pre-line text-justify break-words">
            {{ post.post | safe }}
          </p>
        </div>
        
        <!-- Ações do Post -->
        <div class="post-container flex flex-col space-y-5 p-4 border-t border-gray-200">
          <!-- Container dos Botões -->
          <div class="flex justify-start space-x-5">
            <!-- Botão 1 -->
            <button class="flex items-center text-gray-600 hover:text-gray-800 bg-transparent like-button" 
                    data-id="{{ post.id }}" data-user-id="{{ id }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="32" height="32">
                <path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8l0-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5l0 3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20-.1-.1s0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5l0 3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2l0-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/>
              </svg>
              <span class="ml-2 text-sm" id="like-count-{{ post.id }}">{{ post.likes }}</span>
            </button>
        
            <!-- Botão 2 -->
            <button class="flex items-center text-gray-600 hover:text-gray-800 bg-transparent">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="42" height="42">
                <path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9l.3-.5z"/>
              </svg>
            </button>
        
            <!-- Botão 3 -->
            <button class="flex items-center text-gray-600 hover:text-gray-800 bg-transparent">
              <img src="{{ url_for('static', filename='icon/share.svg') }}" alt="Compartilhar" width="42" height="42">
            </button>
          </div>
        </div>
        
      </div>
      {% endfor %}

<div class="flex flex-wrap justify-end space-x-4 bg-white shadow-lg rounded-lg overflow-hidden mx-auto max-w-screen-xl aling-items:center min-h-screen">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="flash {{ category }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}
</div>

<div class="fixed flex bottom-6 end-6 group">
    <!-- Botão de Ação Único -->
    <a href="{{ url_for('page_posts.create_post_route') }}" class="flex items-center justify-center w-14 h-14 text-white bg-blue-700 rounded-full hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
        <!-- Ícone de Avião -->
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M2.5 19.83l6.72-2.69 2.68 6.72c.14.37.66.36.77-.01l9-21c.14-.32-.23-.68-.56-.54l-21 9c-.37.14-.38.63-.01.77l6.72 2.68L2.5 19.83Z"/>
        </svg>
        <span class="sr-only">Create New Post</span>
    </a>
</div>





<style>

      /* Estilo padrão para o body */
      body {
      background-color: #121212; /* Fundo claro */
      color: black; /* Texto escuro */
    }
    h1 {
      color: black; /* Título padrão */
    }
   
    data {
      color: black;
    }
   
    
    community-post {
      color: black;
    }
    CodePost{
        color: azure;
    } 
       
  
    /* Botão de fechar (oculto por padrão) */
    .close-sidebar-btn {
      display: none; /* Não aparece em telas grandes */
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 50;
      background: transparent;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }

  
    @media (max-width: 768px) {
      body {
        background-color: #121212; /* Fundo escuro */
        color: white; /* Texto claro */
      }
      h1 {
        color: white; /* Título branco */
      }
      p {
        color: white; /* Texto dos parágrafos em chartreuse */
      }
      .data {
        color: white;
      }
      
      .community-post {
        color: white;
      }
      .post-cumunity-community {
        color: #B3D9FF;
      }
      .flex {
        justify-content: center !important;
      }
      .CodePost {
        color: azure;
      }
  
      /* Botão de fechar visível em telas menores */
      .close-sidebar-btn {
        display: block; /* Botão visível em dispositivos móveis */
      }
      .link-cumunidade{
        color: #B3D9FF;
      }
    }
</style>
<script src="{{url_for('static', filename='js/menu.js')}}"></script>
<script src="{{url_for('static', filename='js/utils.js')}}"></script>
<script src="{{url_for('static', filename='js/configuracao.js')}}"></script>
<script src="{{url_for('static', filename='js/animations.js')}}"></script>





</body>
</html>









