@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação para o movimento da nave */
@keyframes flyingAnimation {
  0% {
      transform: translateY(100vh); /* Começa fora da tela, abaixo */
      opacity: 0; /* Inicialmente invisível */
  }
  50% {
      transform: translateY(50vh); /* Meio da tela */
      opacity: 0.7; /* Começa a aparecer */
  }
  100% {
      transform: translateY(-50vh); /* Move para o topo */
      opacity: 1; /* Totalmente visível */
  }
}

/* Classe de animação para a nave */
.flying-animation {
  animation: flyingAnimation 2s cubic-bezier(0.2, 0.8, 0.2, 1) forwards; /* Animação com aceleração */
}

/* Estilo para o overlay */
#loadingOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 50;
}
